.page-layout {
  display: inline-grid;
  padding-left: 20px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-column: 1 / -1;
  /*grid-column-gap: 10px;*/
  grid-row-gap: 10px;
  grid-template-columns: auto 200px auto auto auto 110px 80px;
  /*background-color: #2196F3;*/
  padding: 20px;
}

.spacer {
  padding: 20px;
  grid-row: 1;
}

/* overwrite bootstrap styling for headings */
h3, h4 {
  margin: auto;
  padding-top: 10px;
}

.filter-form {
  display: inline-grid;
  grid-column: 1 / -1;
  /*grid-row: row 2;*/
  grid-template-columns: auto auto auto auto;
  background-color: #f7f7f7;
  /*padding: 20px 20px 0px 0px;*/
  margin: 10px;
  overflow: hidden;
}

.filter-form hr {
  grid-column: 1 / -1;
}

.filters {
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  /*display: inline-block;*/
}

.filter-button {
  margin-top: 5px; 
}


.filter-instructions {
  /*position: absolute;*/
  grid-column-start: 1;
  grid-column-end: 3; 
  text-align: left;
  padding-left: 10px;
}

.item-header {
  font-weight: bold;
  font-size: 18px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.item {
  text-align: left;
  border-bottom: 1px solid black;
  padding: 5px;
  display: grid;
}

.item-center {
  justify-self: center;
}

.featherlight-content {
  max-width: 60%;
}

.featherlight img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 240px;
  /*padding: 20px;*/
}


.feature-container {
  padding-left: 80px; 
}

.featured-activity {
  float: left;
  display: inline-block;
  text-align: center;
}
  
.feature {
  /*width: 20vw;*/
  height: 15vw;
  padding: 5px 7px;
}

.feature img {
  max-height: 20vw;
  max-width: 30vw;
  object-fit: contain;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.header img, .adapt {
  float: left;
  height: 100px;
}



.header h3 {
  position: relative;
  left: 20px;
  top: 40px;
}

.header {
  padding-bottom: 4em;
}

.section-header {
  margin-left: auto;
  margin-right: auto;
  font-size: 16;
}

#results-info {
  grid-column: 1 / -1;
  display: inline-grid;
  grid-template-columns: 40% auto auto auto;
}

/* stars styling for activity ratings */
.stars {
  display: inline-block;
  direction: rtl;
  justify-self: center;
}

.star {
  color: #ddd;
  cursor: pointer;
  font-size: 14px;
}
.star:hover,
.star:hover ~ span {
  color: #f1c40f;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 100;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

  /* Position the tooltip */
.experience {
  top: -100px;
  right: 105%;
}

.item-header {
  position: relative;
}

.sort {
  padding: 8px;
}

#content i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  cursor: pointer;
  /*right: 20px;*/
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  top: 30%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: 30%;
}

.self-led {
  left: -5px;
  top: 20px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.footer {
  position: fixed;
  bottom: 5;
  padding: 5;
  border: 1px solid black;
  background: white;
}

.footer-right {
  right: 20;
}

.footer-left {
  left: 20;
}

/*            Loading Spinner                 */
.lds-ring {
  display: inline-block;
  grid-column: 4;
  position: relative;
  width: 120px;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
  /*visibility: hidden;*/
}

.lds-ring div {
  box-sizing: border-box;
  /*display: block;*/
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
