/*          General layout containers and spacer          */
.page-layout {
  display: inline-grid;
  /*padding-left: 20px;*/
  width: 100%;
}

.grid-container {
  display: grid;
  grid-column: 1 / -1;
  /*grid-column-gap: 10px;*/
  grid-row-gap: 10px;
  /*grid-template-columns: auto 200px auto auto auto 110px 80px;*/
  grid-template-columns: 25% 15% 8% 15% 15% 6% 12%; /* 4% left over */
  padding: 20px;
}

.spacer {
  padding: 20px;
  grid-row: 1;
}

/* overwrite bootstrap styling for headings */
h3, h4 {
  margin: auto;
  padding-top: 10px;
}

    
/*                 Styling for the Filters section                */
.filter-form {
  display: inline-grid;
  grid-column: 1 / -1;
  /*grid-row: row 2;*/
  grid-template-columns: auto auto auto auto;
  background-color: #f7f7f7;
  /*padding: 20px 20px 0px 0px;*/
  margin: 10px;
  overflow: hidden;
}

.filter-form hr {
  grid-column: 1 / -1;
}

.filters {
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  /*display: inline-block;*/
}

.filter-button {
  margin-top: 5px; 
}


.filter-instructions {
  /*position: absolute;*/
  grid-column-start: 1;
  grid-column-end: 4; 
  text-align: left;
  padding-left: 10px;
}


#self-led-checkbox {
  padding-top: 20px;
}

#self-led-checkbox .self-led {
  /*margin-bottom: 20px;*/
  /*left: -5px;*/
  top: 0px;
  left: -240px; /*-130%;*/
}

.disclaimer {
  font-style: italic;
  display: block;
  margin: auto;
  padding: 10px;
}

/*                 Featured Activities                  */
#feature-container {
  position: relative;
  padding-bottom: 20px;
  font-size: 16px;
}

#feature-container h3 {
  padding: 10px;
}

.features {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.featured-activity {
  float: left;
  display: inline-block;
  text-align: center;
}
  
.feature {
  /*width: 20vw;*/
  height: 15vw;
  padding: 5px 7px;
}

/*    important flags to overwrite SS rules   */
.feature img {
  height: 15vw !important;
  max-width: 30vw !important;
  object-fit: contain;
}
/*      Meta Data for results appears above activity grid     */
#results-meta {
  grid-column: 2;
  padding-left: 20px; 
  font-weight: bold;
  align-self: center;
}

#results-info {
  grid-column: 1 / -1;
  display: inline-grid;
  grid-template-columns: 30% auto auto auto;
}


/*                Grid items and headers              */
.item-header {
  font-weight: bold;
  font-size: 16px;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  position: relative;
}

.item {
  text-align: left;
  border-bottom: 1px solid black;
  padding: 5px;
  display: grid;
  font-size: 16px;
}

.item-center {
  justify-self: center;
}

.featherlight-content {
  width: 60%;
}

.featherlight img,
.featherlight iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 30vh;
  /*max-width: 400px;*/
  /*padding: 20px;*/
}

.featherlight iframe {
  height: 240px;
  width: 400px;
}

/*       header class is currently used for Adaptation activities and header text above filters       */
.header img, .adapt {
  float: left;
  height: 100px;
}

.header h3 {
  position: relative;
  left: 20px;
  top: 40px;
}

.header {
  padding-bottom: 10px;
}


.sort {
  padding: 8px;
}

#content i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  cursor: pointer;
  /*right: 20px;*/
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  top: 30%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: 30%;
}

/*            Tooltip Text              */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  opacity: 100;
  z-index: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

  /* Position the experience tooltip */
.experience {
  top: -100px;
  right: 105%;
}

/* position the self-led tooltip (button and checkbox) */
.self-led {
  left: -5px;
  top: 20px;
}

  /* Position the keyword tooltip */
.keyword {
  top: -100px;
  left: 105%;
}

/*                   Comments (icon, tooltip, lightbox)                   */
.comment-tooltip {
  position: relative;
  width: 100px;
  margin: auto;
}

.badge {
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

.comment-img {
  width: 60px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.comment-box {
  width: 100%;
}

.comment-box span {
  width: 90%;
  display: inline-block;
}
/*
.comment-text {
  width: 60vw;
}*/

/* tooltip position */
.comment {
  right: 0px;
  top: 0px;
  width: 300px !important;
  z-index: 1000;
}

textarea {
  resize: none;
  width: 90%;
  margin: 10px;
}

.comment-form {
  position: relative;
  padding: 10px;
}

.submit-comment {
  border-radius: 6px;
  height: 30px;
  width: 90%;
  margin-top: 10px;
}


/*                Bottom Page Buttons            */
#bottom-page-buttons {
  justify-self: right;
  width: 200px;
  margin-right: 400px;
}


/*      Scroll to Top Button      */
.scroll-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 40px;
  right: 20px;
  background: hsl(0, 0%, 80%);
  border-radius: 10px;
  border-color: black;
  display: none;
}
.scroll-top i {
  display: inline-block;
  color: #fff;
  font-size: 30px;
}


/*          Footer              */
.footer {
  position: fixed;
  bottom: 5px;
  padding: 5px;
  border: 1px solid black;
  background: white;
  z-index: 10000;
}

.footer-right {
  right: 20px;
}

/*            Loading Spinner                 */
.lds-large,
.lds-ring {
  display: inline-block;
  grid-column: 4;
  position: relative;
  width: 120px;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
  /*visibility: hidden;*/
}

.lds-large div,
.lds-ring div {
  box-sizing: border-box;
  /*display: block;*/
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div, .lds-large div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div, .lds-large div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div, .lds-large div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


