#feature-container {
  padding-bottom: 20px;
}

.features {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.featured-activity span {
  justify-self: start;
}

/* DEPRECATED */

/* Stars for Ratings */
/*:root {
  --star-size: 16px;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;

}
.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/


/* Eventually use this(?) to design our own lightbox */
/*.lightbox {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}*/