.page-layout {
  grid-template-columns: 240px auto;
}

.welcome {
  padding-top: 20px;
  padding-left: 20px;
  grid-column: 1;
}

#feature-header {
  width: auto;
}

.feature-list {
  display: grid;
  grid-column: 2 / -1;
  grid-gap: 20px;
  overflow-x: scroll;
  /* From _buildFeatureCarousel():   (resource_table.js)
    $('.feature-list').css('grid-template-columns', 'repeat(' + features.length + ', 300px)');
  */
  scroll-snap-type: x proximity;
}

.feature-list li {
  display: grid;
}

.feature-list a {
  display: grid;
  height: 100%;
}

.feature-list img {
  max-width: 240px;
  max-height: 200px;
  padding-bottom: 15px;
  align-self: center;
}

.feature-link {
  align-self: end;
  font-size: 18px;
  justify-self: stretch;
}

#results {
  position: relative;
}

#results-info {
  grid-column: 1 / -1;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  /*width: 200px;*/
}
/*
#sort-results {
  width: 200px;
}*/

#results-meta {
  grid-column: 2;
  padding-left: 20px; 
  font-weight: bold;
  align-self: center;
}

#results-per-page {
  grid-column: -1;

}

.scroll {
  font-size: 40px;
  position: absolute;
  background: white;
  border-left: 10px solid white;
  border-right: 10px solid white;
  grid-row: 1;
  cursor: pointer;
  z-index: 999;
}

#scroll-left {
  grid-column: 2;
  left: : 180px;
  top: 120px;  
}

#scroll-right {
  right: 40px;
  top: 120px;
}

.filter-row-stretch {
  grid-row: 1 / span 2;
  grid-column: 4;
}

/*            Loading Spinner                 */
.lds-ring {
  display: inline-block;
  grid-column: 4;
  position: relative;
  width: 120px;
  height: 80px;
  margin-left: 20px;
  margin-right: 20px;
  /*visibility: hidden;*/
}

.lds-ring div {
  box-sizing: border-box;
  /*display: block;*/
  position: absolute;
  width: 48px;
  height: 48px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
