.page-layout {
  grid-template-columns: 240px auto;
}

.welcome {
  padding-top: 20px;
  padding-left: 20px;
  grid-column: 1;
}

.lds-large div {
  width: 100px;
  height: 100px;
  margin: 16px;
  z-index: 1000;
}

.comments {
  width: 60px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

/* tooltip position */
.comment {
  right: 0px;
  top: 0px;
  width: 300px !important;
  z-index: 1000;
}

textarea {
  resize: none;
}

.comment-form {
  position: relative;
}

.submit-comment {
  border-radius: 6px;
  height: 30px;
  position: absolute;
  top: 30%;
  margin-left: 10px;
}

#feature-header {
  width: auto;
}

.feature-list {
  display: grid;
  grid-column: 2 / -1;
  grid-gap: 20px;
  overflow-x: scroll;
  /* From _buildFeatureCarousel():   (resource_table.js)
    $('.feature-list').css('grid-template-columns', 'repeat(' + features.length + ', 300px)');
  */
  scroll-snap-type: x proximity;
}

.feature-list li {
  display: grid;
}

.feature-list a {
  display: grid;
  height: 100%;
}

.feature-list img {
  max-width: 240px;
  max-height: 200px;
  padding-bottom: 15px;
  align-self: center;
}

.feature-link {
  align-self: end;
  font-size: 18px;
  justify-self: stretch;
}

.grid-container {
  grid-template-columns: auto 200px auto auto auto 80px 120px;
}

#results {
  position: relative;
}

#sort-results {
  width: 300px;
}

#results-meta {
  grid-column: 2;
  padding-left: 20px; 
  font-weight: bold;
  align-self: center;
}

#results-per-page {
  grid-column: -1;

}

.scroll {
  font-size: 40px;
  position: absolute;
  background: white;
  border-left: 10px solid white;
  border-right: 10px solid white;
  grid-row: 1;
  cursor: pointer;
  z-index: 999;
}

#scroll-left {
  grid-column: 2;
  left: : 180px;
  top: 120px;  
}

#scroll-right {
  right: 40px;
  top: 120px;
}

.filter-row-stretch {
  grid-row: 1 / span 2;
  grid-column: 4;
}

