/*    Elements in top section of page  */
.page-layout {
  grid-template-columns: 240px auto;
}

.welcome {
  padding-top: 20px;
  padding-left: 20px;
  grid-column: 1;
}

.header {
  grid-column: 1 / -1;
}

.lds-large div {
  width: 100px;
  height: 100px;
  margin: 16px;
  z-index: 1000;
}

/*      Featured Activities      */
.top-features {
  position: relative;
}

#feature-header {
  width: auto;
}

.feature-list {
  display: grid;
  grid-column: 2 / -1;
  grid-gap: 20px;
  overflow-x: scroll;
  /* From _buildFeatureCarousel():   (resource_table.js)
    $('.feature-list').css('grid-template-columns', 'repeat(' + features.length + ', 300px)');
  */
  scroll-snap-type: x proximity;
}

.feature-list li {
  display: grid;
}

.feature-list a {
  display: grid;
  height: 100%;
}

.feature-list img {
  max-width: 240px;
  max-height: 200px;
  padding-bottom: 15px;
  align-self: center;
}

.feature-link {
  align-self: end;
  font-size: 18px;
  justify-self: stretch;
}

/*        Scroll Arrows for Carousel        */
.scroll {
  font-size: 40px;
  position: absolute;
  background: white;
  border-left: 10px solid white;
  border-right: 10px solid white;
  grid-row: 1;
  cursor: pointer;
  z-index: 999;
}

#scroll-left {
  grid-column: 2;
  left: : 180px;
  top: 120px;  
}

#scroll-right {
  right: 40px;
  top: 120px;
}

/*      Item Header sub text        */
.item-header small {
  font-weight: normal;
  font-size: 10px;
}

/* sizing for sort drop down menu */
#sort-results {
  width: 300px;
}

#bottom-page-buttons {
  grid-column: 2;
  margin-right: 380px;
}

#bottom-spacer {
  padding-bottom: 100px;
}

/*      Dev Menu Styling      */
.footer-left {
  left: 20;
  /*grid-template-columns: 150px 150px 150px 150px;*/
  display: grid;
  grid-template-columns: 140px auto auto auto;
}

.footer-left span {
  display: block;
  padding-left: 10px;
}

.footer-left label {
  font-weight: normal;
}
